
body{
	margin: 0;
 	background: #ffffff;
 	background-attachment: fixed;
 	background-repeat: no-repeat;
    background-size: 100% 100%;
}

.title {
	margin: 100px;
	text-align: center;
}

h1 {
	font-family: sans-serif;
	font-size: 40px;
	font-weight: lighter;
	letter-spacing: 10px;
	color: #000000;
}

p {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: lighter;
	color: #000000;
}

}